@import "tailwindcss";

@layer base {
  body {
    font-family: 'Mukta', 'Noto Sans Devanagari', sans-serif;
  }
}

@media print {
  body {
    background-color: white !important;
  }
  .print\:hidden {
    display: none !important;
  }
}
